<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Froggy Chores</title>
    <meta name="description" content="Chore tracker">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Froggy Chores</h1>
    </div>    
    <script src="/scripts.js" defer></script>
  </body>
</html>
