@font-face {
    font-family: 'Slapface';
    src: url('https://cdn.glitch.com/59c2bae2-f034-4836-ac6d-553a16963ad6%2Fslapface-webfont.woff2?v=1579410305700') format('woff2'),
         url('https://cdn.glitch.com/59c2bae2-f034-4836-ac6d-553a16963ad6%2Fslapface-webfont.woff?v=1579410305725') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background: #ffffa5;
  color: #7d4900;
  font-family: "Slapface", "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 22px;
  margin: 0;
}

#container {
  padding: 0 20px;
  margin: 4em auto;
  max-width: 960px;
}

a {
  color: #7d4900;
}

h1 {
  font-size: 56px;
  text-align: center;
}

#chore-list {
  list-style-type: none;
  padding-left: 0;
  display: grid;
  grid-auto-rows: 1fr;
}

.chore-list-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  line-height: 32px;
  padding: 6px 8px;
  border-radius: 6px;
  align-items: center;
}

.chore-list-item:nth-child(even) {
  background: #ff8584;
}

.chore-list-item .name {
  flex: 1;
}

.chore-list-item .status {
  flex: 1;
  margin-left: 8px;
}

.chore-list-item button {
  flex: 0 0 auto;
  margin-left: 8px;
}

button.complete,
button.add,
button.create-list {
  color: #008300;
  border-color: #008300;
  background: #7bff30;
}

button.complete:active,
button.add:active,
button.create-list:active {
  color: #7bff30;
  border-color: #7bff30;
  background: #008300;
}

button.delete {
  color: #833100;
  border-color: #833100;
  background: #ff4200;
}

button.delete:active {
  color: #ff4200;
  border-color: #ff4200;
  background: #833100;
}

button.create-list {
  margin: 35px auto;
  display: block;
}

button {
  font-family: inherit;
  font-size: inherit;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  cursor: pointer;
  height: 48px;
  width: 48px;
}

input[type="text"],
input[type="number"] {
  border: 3px solid #000;
  border-radius: 6px;
  font-size: inherit;
  font-family: inherit;
  padding: 4px 8px;
}

.box-border {
  border: 32px solid transparent;
  border-image-source: url("https://cdn.glitch.com/59c2bae2-f034-4836-ac6d-553a16963ad6%2Ffroggy-border.png?v=1579422280072");
  border-image-slice: 32;
  border-image-repeat: round;
  border-image-width: 32px;
}

.dialog-box {
  display: flex;
  flex-direction: row;
}

.portrait {
  flex: 0 0 auto;
  margin-right: 16px;
}

.dialog-box::after {
  content: "";
  display: table;
  clear: both;
}


#new-chore-form {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  flex-wrap: wrap;
}

#new-chore-form input {
  flex: 1;
  margin-right: 8px;
}

#new-chore-forum button {
  flex: 0 0 auto;
}

#frog-say {
  margin: 8px 4px;
}