* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

.container {
  margin: 4em auto;
  max-width: 960px;
}

#new-chore-form {
  display: none;
}

.authenticated #new-chore-form {
  display: block;
}

.authenticated #password-form {
  display: none;
}