* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-image: linear-gradient(to bottom, #ff4ba1, #dd70d9, #a691fb, #64aaff, #2dbbf8);
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  padding: 2px 6px;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

input {
  border-radius: 3px;
  font-size: 16px;
  border: 1px solid grey;
  box-shadow: 2px 2px black;
  padding: 2px 6px;
}

.container {
  margin: 4em auto;
  max-width: 960px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-style: italic;
  color: #373fff;
  margin-bottom: 1em;
}

#choose-button {
  font-size: 24px;
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.restaurant-list-container {
  background: #9714ef;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 2px 2px #3c0166;
}

#restaurant-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.restaurant-list-item {
  align-items: center;
  background: #e7c4ff;
  border-radius: 2px;
  display: flex;
  margin: 5px 0;
  padding: 4px 6px;
  border: 1px solid black;
  box-shadow: 2px 2px #3c0166;
}

.restaurant-list-item.selected {
  background: cyan;
}

.restaurant-list-item:after {
  content: '';
  clear: both;
  display: table;
}

.restaurant-list-item .name {
  flex: 1;
}

.restaurant-list-item button {
  flex: 0 0 auto;
}

.authenticated #password-form {
  display: none;
}

#choice-sound {
  display: none; 
}